.layer:before,
.layer:after {
  content: "";
  position: fixed;
  inset: 0% -50%;
  background: orange;
  clip-path: ellipse(70% 100% at 50% 100%);
  animation:
    s0 1s .1s ease-out both,
    s1 .4s .1s both,
    s3 .6s .8s linear both;
  pointer-events: none;
  z-index: 3000;
}
.layer:after {
  background: aqua;
  animation-delay: .9s,.9s,1.6s;
}
@keyframes s0 {
  0% { translate: 0 100% }
}
@keyframes s1 {
  to { inset: 0% }
}
@keyframes s3 {
  to { clip-path: ellipse(200% 100% at 50% 80%) }
}


